.titulo{
    text-align: center;
    font-style: normal Arial;
    font-size: 50px;
}
.video{
    text-align: center;
    box-shadow: 2px 2px 10px;
}
.paragrafos{
    text-align: justify;
    font: normal 20px italic;
}
h2{
    font-family:'Times New Roman', Times, serif;
    background-color:indigo;
    text-align: center;
}
.img2{
    text-align: center;
}
.tabby{
    text-align: center;
    font-style: normal Arial;
    font-size: 50px;
}
.espaco{
    text-align: center;
    font-style: normal Arial;
    font-size: 50px;
}
